/* -----------------------------------------
* ELEMENTS
-------------------------------------------*/
@use './vars' as *;

/*** SEPARATOR ***/
.vertical-separator {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;

        background-color: $col-darkgray;
    }
}


/*** TAGS ***/
.tag {
    padding: 0.25rem 1rem;

    display: inline-block;
    color: #000;
    background-color: $col-yellow;
}