/* -----------------------------------------
* ELEMENTS
-------------------------------------------*/
@use './vars' as *;


/*** BUTTONS ***/
.btn {
    padding: 0.75rem;

    display: inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    text-decoration: none;

    color: inherit;

    &.btn-light {
        padding: 0.75rem 2rem;

        color: #000;
        background-color: #fff;

        &:hover {
            background-color: $col-yellow;
            border-color: $col-yellow;
        }
    }

    &.btn-outline-light {
        padding: 0.75rem 2rem;

        color: #fff;
        border: 1px solid $col-darkgray;

        &:hover {
            color: $col-yellow;
        }
    }
}


/*** SEPARATORS ***/
.vertical-separator {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;

        background-color: $col-darkgray;
    }
}


/*** TAGS ***/
.tag {
    display: inline-flex;
    color: #000;
    font-style: italic;
    line-height: 1.5;

    span {
        padding: 0 0.5rem;

        background-color: $col-yellow;
    }

    &::after {
        content: '';

        border-top: 1.5em solid $col-yellow;
        border-right: 0.5em solid transparent;
    }

    &::before {
        content: '';

        border-bottom: 1.5em solid $col-yellow;
        border-left: 0.5em solid transparent;
    }
}