/* -----------------------------------------
* GENERICS
-------------------------------------------*/
html {
    font-size: 14px;
}

body {
    color: #fff;
    background-image: url('@/assets/img/body-bg.jpg');
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

button {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none;
}