/* -----------------------------------------
* GENERICS
-------------------------------------------*/
@use './vars' as *;


html {
    font-size: 14px;
}

body {
    color: #fff;
    background-image: url('@/assets/img/body-bg.jpg');
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 2rem;
}

a {
    color: inherit;
    text-decoration: none;

    transition: color 0.2s;

    &:hover {
        color: $col-yellow;
    }
}

ul {
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

button {
    padding: 0;

    color: inherit;
    background-color: transparent;
    border: none;

    &:hover {
        color: $col-yellow;
    }
}

input {
    padding: 0.5rem;
}

address {
    margin-bottom: 0;
}

section {

    header h3 {
        position: relative;

        &::after {
            content: '';
            margin: 0 auto;
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            width: 50px;

            border: 1px solid $col-yellow;
        }
    }


}