/* -----------------------------------------
* UTILS
-------------------------------------------*/
@use './vars' as *;


/*** COLORS ***/
.text-yellow {
    color: $col-yellow;
}

.text-gray {
    color: $col-gray;
}

/*** MISC ***/
.img-fluid {
    max-width: 100%;
    height: auto;
}