/* -----------------------------------------
* UTILS
-------------------------------------------*/
@use './vars' as *;


/*** COLORS ***/
.text-yellow {
    color: $col-yellow;
}


/*** SEPARATOR ***/
.vertical-separator {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;

        background-color: $col-darkgray;
    }
}