/* -----------------------------------------
* VARIABLES
-------------------------------------------*/
/*** COLORS ***/
$col-dark: #1d1427;
$col-darkgray: #342b3e;
$col-gray: #a69ba9;
$col-yellow: #f9aa01;